* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #f47725; /* Set your desired color value */
  --secondary-color: #ffd3b4; /* Set your desired color value */
}

body {
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.contain {
  max-width: 1266px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 4%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: none;
}

.flex-centers {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.gap {
  gap: 1.4rem;
}

.hidden {
  display: none;
}
