* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ff601c;
  --secondary-color: #fff;
}

body {
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.contain {
  max-width: 1266px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 4%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.flex-centers {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.flexStarts {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 2rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.gap {
  gap: 1.4rem;
}

.hidden {
  display: none;
}

/* ------------------ Dashboard Section ------------------ */

.dashboard {
  padding: 3em 4em;
}

.dashboard-stats div {
  margin-bottom: 1rem;
}
.dashboard h1 {
  color: #000;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: 3rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.stat-box {
  padding: 1.5em 2.5em;
  border-radius: 1.6875rem;
  border: 0.75px solid var(--orange-200, #fbd38d);
  background: var(--white, #fff);
  box-shadow: 0px 1.5px 3px 0px rgba(0, 0, 0, 0.06),
    0px 1.5px 4.5px 0px rgba(0, 0, 0, 0.1);
  width: min-content;
}

.stat-box h2 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  padding-bottom: 0.6em;
}
.stat-box p {
  font-size: 1.75rem;
  font-weight: 700 !important;
}

.box-detail a {
  width: 2rem;
  height: 2rem;
  font-size: 1.25rem;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-detail a:visited {
  color: var(--primary-color);
}

.box-detail {
  gap: 5rem;
}

/* Artist Section */

.addBtn {
  font-size: 1.0625rem;
  padding: 0.5em 1em;
  background-color: var(--primary-color);
  border: none;
  border-radius: 15px;
  color: white;
}

.addBtn i {
  margin-left: 0.45rem;
}
.artist {
  margin-bottom: 2rem;
  border: 1px solid var(--primary-color);
  padding: 1em;
  border-radius: 27px;
}

.artist img {
  width: 140px;
  border-radius: 27px;
}

.artistDetail h2 {
  font-size: 1.2rem;
}

.artist p {
  font-size: 1rem;
}

.artistCategory {
  margin: 0.1rem 0 0.5rem;
}

.list {
  width: 100%;
  margin: 0 auto;
}
.list form {
  width: 100%;
}

.list label {
  font-weight: bold;
  font-size: 1.125rem;
  display: inline-block;
  width: 240px !important;
}

.form-control {
  margin: 2rem auto;
}

.desc {
  display: flex;
  gap: 5px;
}

.form-control input,
.form-control textarea,
.form-control select {
  background-color: #ffdbba;
  padding: 0.6em 1.2em;
  font-size: 1.125rem;
  border: none;
  border-radius: 15px;
  width: 50%;
}

.confirmBtn {
  margin: 0 auto;
  width: 100%;
}

.actionBtns button {
  padding: 0.5em 1em;
  border: none;
  color: white;
  font-size: 1.125rem;
  border-radius: 10px;
  width: 88px;
  font-weight: 500;
}

.deleteBtn {
  background-color: tomato;
  margin-bottom: 1.25rem;
}
.deleteBtn:hover,
.deleteBtns:hover {
  background-color: rgb(230, 68, 40);
}

.deleteBtns {
  background-color: tomato;
}

.editBtn {
  background-color: seagreen;
}

.editBtn:hover {
  background-color: rgb(26, 107, 61);
}

.foodType {
  display: flex;
  justify-content: start;
  align-items: start;
}

.foodType label {
  margin-bottom: 0.6rem;
}
.foodType input[type="checkbox"] {
  width: 40px;
  height: 16px;
}

td,
th {
  padding: 1em;
  text-align: center !important;
  border-top: 1px solid #dee2e6;
}
tr {
  box-shadow: 10px 10px 4px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 4px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 4px -12px rgba(0, 0, 0, 0.75);
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

th {
  background-color: var(--primary-color);
  color: #fff;
}

table {
  border-collapse: collapse;
}

th {
  font-size: 1.125rem;
  font-weight: 800;
  white-space: nowrap;
}

.viewBtn {
  background-color: #ffdbba;
  color: rgb(49, 45, 45) !important;
  white-space: nowrap;
}

.restaurantDetail p {
  display: inline-block;
  padding: 1em 3em 0.5em 0.4em;
}

.restaurantDetail div {
  display: inline-block;
  border-bottom: 2px solid var(--primary-color);
  margin: 1rem 1rem 0.5rem 0;
}

.restaurantDetail h3 {
  display: inline-block;
}

.extra {
  margin: 1rem 0 4rem 0;
}
.extra p {
  padding-bottom: 1em;
}

.restaurantDetail main > img {
  max-width: 220px;
  object-fit: contain;
}

.RestaurantMain {
  background-color: var(--primary-color);
  width: 100%;
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.RestaurantMain h1 {
  margin: 0 !important;
  color: #fff !important;
}

.restaurantImages {
  padding-bottom: 2em;
  text-align: center;
}

.restaurantImages img {
  margin: 1rem 0.5rem;
}
